.add_prodcuts{
    
    display: flex;
    flex-flow: column wrap;

    input{
    
        width: 65%;
        height: 40px;
        font-size: 1.2rem;  
        padding: 5px 20px;
        border: 2px solid $orange;
        border-radius: 5px;
        
        
        &::placeholder{
            color: $orange;
        }

        &:focus{
            -webkit-box-shadow: 0px 0px 15px 1px $orange; 
            box-shadow: 0px 0px 15px 1px $orange;
            transition: 200ms ease;
            border: 3px solid $orange;

        }
    }

    .product_suggestions{
        border: 2px solid gray;
        padding: 10px;

        
    }

}

.product{
    background-color: rgb(250, 207, 167);
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-radius: 10px;
    margin: 15px 0;

    &:hover{
        -webkit-box-shadow: 0px 0px 15px 1px $orange; 
        box-shadow: 0px 0px 15px 1px $orange;
    }

    h2,p{
        margin: 3px 0;
        color: rgb(58, 58, 58);
    }

    .button{
        padding: 5px;
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: rgb(235, 145, 76);
        font-size: 1rem;
        color: rgb(48, 48, 48);


        &:hover{
            cursor: pointer;
            transform: scale(1.2);
            transition: 200ms ease;
        }
    }
    
}

.added_products{
    padding: 20px;
    display: flex;
    flex-flow: column wrap;
    border: 2px solid gray;
    .product{
        flex-flow: column wrap;
    }
}

.titulo{
    margin: 20px 0 8px 0;
    color: $orange;
    font-size: 1.6rem;
    font-weight: 800;
}

.seller_name{
    padding: 15px;
    background-color: $orange;
    border-radius: 10px;
    color: white;
    font-size: 1.9rem;
    font-weight: 900;
}

.total_price{
    width: 20%;
    padding: 10px;
    background-color: $blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    .p{
        font-size: 1.8rem;
    }
    
}

.facturar_btn{

    height: 50px;
    background-color: rgb(62, 121, 247);
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 10px;
    width: 30%;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    transition: 200ms ease-in;

    &:hover{
        cursor: pointer;
        -webkit-box-shadow: 0px 0px 15px 1px blue; 
        box-shadow: 0px 0px 15px 1px blue;
        transition: 200ms ease-in;
    }
}
